

.activity {
    color:white;
    font-weight: bold;
    background-color: #a64;
    margin-bottom: 1em;
}

.respons {
    color:white;
    font-weight: bold;
    background-color: #64a;
    margin-bottom: 1em;
}
