/* ===================================
    Video Player
*/
.video-play {
    /*    width: 100px; */
    /*    text-align: center;*/
        cursor:pointer;
        color:black; 
        font-weight: bold;
        border-radius:0 10px 0 10px;
        box-shadow: 5px 5px silver;
      }
    .video-play span {
        word-wrap: break-word;
    }
    #reportview .video-play {
      color:white; 
      font-weight: bold;
      font-size: 12pt;
    }
    .video-disable {
      color:gray; 
    }

/* ===================================
*/
.appositive-list {
  margin-top:15px;
}
.appositive-list a {
  text-decoration: none;
  font-weight:bold;
}
.appositive-list ul {
margin: 0 20px;
}
/* クリアフィックス */
.appositive-list ul:after {
content: "";
clear: both;
display: block;
}
/* 一覧のリストの設定 */
.appositive-list ul li {
list-style-type: none;
display: block;
float: left;
padding-top:8px;
margin-bottom: 1.27%;
height: 50px;/* 見た目の調整 */
line-height: 20px;/* 見た目の調整 */
background: #eee;/* 見た目の調整 */
text-align: center;/* 見た目の調整 */
font-size: 10.5pt;
word-wrap: break-all;
}
.appositive-list ul li.video-folder {
  font-size: 14pt;
  border-radius:10px;
  box-shadow: 6px 6px #668AD8;
  background-color: rgb(212, 212, 200);
}
.appositive-list ul li.ggg {
  background-color: #699;
}
.appositive-list ul li.video-disable {
  color: silver;
  background-color: #244;
}
.appositive-list ul li.video-play {
  background-color:lightcyan; 
}

/* 等分なし */
.appositive-list ul.al-1 li {
width: 100%;
}
/* 横並びに等分 */
.appositive-list ul.al-2 li {
width: 48.56%;
margin-right: 2.88%;
}
.appositive-list ul.al-2 li:nth-child(2n) {
margin-right: 0;
}
/* 横並びに3等分 */
.appositive-list ul.al-3 li {
width: 31.42%;
margin-right: 2.87%;
}
.appositive-list ul.al-3 li:nth-child(3n) {
margin-right: 0;
}
/* 横並びに4等分 */
.appositive-list ul.al-4 li {
width: 22.84%;
margin-right: 2.88%;
}
.appositive-list ul.al-4 li:nth-child(4n) {
margin-right: 0;
}
/* 横並びに5等分 */
.appositive-list ul.al-5 li {
width: 17.68%;
margin-right: 2.9%;
}
.appositive-list ul.al-5 li:nth-child(5n) {
margin-right: 0;
}
/* 横並びに6等分 */
.appositive-list ul.al-6 li {
width: 14.25%;
margin-right: 2.9%;
}
.appositive-list ul.al-6 li:nth-child(6n) {
margin-right: 0;
}
/* 横並びに7等分 */
.appositive-list ul.al-7 li {
width: 11.8%;
margin-right: 2.9%;
}
.appositive-list ul.al-7 li:nth-child(7n) {
margin-right: 0;
}
/* 横並びに8等分 */
.appositive-list ul.al-8 li {
width: 9.98%;
margin-right: 2.88%;
}
.appositive-list ul.al-8 li:nth-child(8n) {
margin-right: 0;
}
/* 横並びに9等分 */
.appositive-list ul.al-9 li {
width: 8.56%;
margin-right: 2.87%;
}
.appositive-list ul.al-9 li:nth-child(9n) {
margin-right: 0;
}
