/*
    ドロップダウンメニュー表示
*/
.font24 { font-size:22px; top:0; }
.font20 { font-size:20px; }
.font16 { font-size:16px; }
/* メインメニュー項目の装飾 */
#toolbar {
    z-index:1;
    float:top;
    width:100%;
    background-color: #020;
    color:white;
}
#toolbar:after { clear:both; }
/* ツールバー内の右寄せアイテム */
#toolbar .rightitem {
    position: absolute;
    z-index:1;
    top:0;
    right:0;
    padding-right:50px;
}
/* ツールバー内の左寄せアイテム */
#toolbar .leftitem {
    position: absolute;
    z-index:1;
    top:0;
    left:0;
    padding-left:0px;
}

#toolbar ul#menu {
	margin-left:200px; /* メニューバー外側の余白 */
	padding: 0px;             /* メニューバー内側の余白 */
	height: 35px;             /* メニューバーの高さ */
    font-size: 10pt;
}
#toolbar ul#menu li {
    float: left;
    width: 80px; /* メニュー項目の横幅 */
    height: 35px; /* メニュー項目の高さ（「メニューバーの高さ」と一致させる） */
    list-style-type: none;
}
#toolbar ul#menu a {
    display: block;
	width: 100%;
    height: 100%;
    color: white;              /* メニュー項目の文字色 */
    line-height: 35px;         /* メニュー項目のリンクの高さ（「メニュー項目の高さ」と一致させる） */
    text-align: center;        /* メインメニューの文字列の配置（中央寄せ） */
    text-decoration: none;     /* メニュー項目の装飾（下線を消す） */
}
#toolbar ul#menu a:hover {
	color: #00cc00;            /* メニュー項目にマウスが載ったときの文字色 */
	background-color: #eeeeee; /* メニュー項目にマウスが載ったときの背景色 */
}
/* メニューバー直後の Clear Hack */
#toolbar ul#menu { zoom:1; }
#toolbar ul#menu:after { height: 0; visibility: hidden; content: "."; display: block; clear: both; }

/* ---------------------- */
/* サブメニュー項目の装飾 */
#toolbar ul#menu ul.sub {
	position: absolute;
	display: none;
    font-size: 9pt;
    border: 1px solid black;
	background-color: #888888;     /* サブメニュー全体の背景色 */
}
#toolbar ul#menu ul.sub li {
	width: 120px; /* サブメニュー1項目の横幅 */
	height: 25px; /* サブメニュー1項目の高さ */
    padding-left: 5px;
    border-bottom: 1px dashed #666;
}
#toolbar ul#menu ul.sub li a {
	line-height: 25px; /* サブメニュー1項目の行高（「サブメニュー1項目の高さ」と合わせる） */
	text-align: left;  /* 文字列の配置（左寄せ） */
	text-indent: 5px;  /* 文字列前方の余白 */
}
#toolbar ul#menu ul.sub li a:hover {
	color: #005500;            /* サブメニュー項目にマウスが載ったときの文字色 */
	background-color: #ffff80; /* サブメニュー項目にマウスが載ったときの背景色 */
}
