@charset "UTF-8";
/*	padding: 0px 10px;	/* [上下左右] [上下][左右} [上][左右][下] [上][右][下][左] */
.indent {
  margin: 0 0 0 50px;
  background-color:black;
}

li.ajax {
  color: blue;
  font-weight:bold;
  cursor:pointer;
}
li.ajax:hover {
  color: purple;
  text-decoration: underline;
}

h1,h2 {
  width:100%;
  background:#8a3;
  margin: 0 0 15px 0;
  padding: 5px;
  font-size: 20pt;
  height: 30px;
}
/* スクロール固定メニュー
*/
.topnavi {
  top:0;
  clear: both;
  position: fixed;
  width:100%;
  height: 46px;
  background:#8a3;
  border: 2px solid silver;
  z-index: 1;
}
.fixnavi {
  top:0;
  position: sticky;
  position: -webkit-sticky;
  width:100%;
}

.moveto {
  cursor:pointer;
}
/*
モーダル表示CSS
*/

.video-play {
/*    width: 100px; */
/*    text-align: center;*/
    cursor:pointer;
    color:black; 
    font-weight: bold;
    border-radius:0 10px 0 10px;
    box-shadow: 5px 5px silver;
  }
.video-play span {
	word-wrap: break-word;
}
#reportview .video-play {
  color:white; 
  font-weight: bold;
  font-size: 12pt;
}
.video-disable {
  color:gray; 
}
.css-cancel{
  display: inline-block;
  position: relative;
  margin: 0 20px 0 7px;
  padding: 0;
  width: 4px;
  height: 20px;
  background: #000;
  transform: rotate(45deg);
}
.css-cancel:before{
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  width: 20px;
  height: 4px;
  margin-top: -2px;
  background: #000;
}
