DirectoryIndex index.php
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /pawmoo_dev/

# 外部ライブラリ
RewriteRule ^(css|js|images)/(.*)$       vendor/webroot/$1/$2 [END]

# テンプレートリソース(CSS/画像ファイル)
RewriteRule ^.*/css/res/img/(.*)$ Core/Template/webroot/cssimg/$1 [END]
RewriteRule ^res/(css|js|images)/(.*)$   Core/Template/webroot/$1/$2 [END]

# アプリごとに異なるリダイレクト
RewriteRule ^([^/]+)/.*/css/img/(.*)$ app/$1/webroot/cssimg/$2 [END]
RewriteRule ^([^/]+)/(css|js|images)/(.*)$   app/$1/webroot/$2/$3 [END]
RewriteRule ^([^/]+)/.*/images/(.*)$  app/$1/webroot/images/$2 [END]

# 実体があるかもしれないファイルは条件判定
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
#RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-d
RewriteRule ^.*$ index.php [END]

</IfModule>

AddType video/mp4 .mp4

