<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="interimstorage" stopProcessing="true">
                    <match url="^interimstorage" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="data" stopProcessing="true">
                    <match url="^data" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="外部ライブラリ" stopProcessing="true">
                    <match url="^(css|js|images)/(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="vendor/webroot/{R:1}/{R:2}" />
                </rule>
                <rule name="アプリ共通アップロード">
                    <match url="^files/(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="vendor/upload_files/{R:1}" />
                </rule>
                <rule name="テンプレートCSS画像" stopProcessing="true">
                    <match url="^.*/css/res/img/(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="Core/Template/webroot/cssimg/{R:1}" />
                </rule>
                <rule name="テンプレートリソース" stopProcessing="true">
                    <match url="^res/(css|js|images)/(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="Core/Template/webroot/{R:1}/{R:2}" />
                </rule>
                <rule name="アプリCSS画像" stopProcessing="true">
                    <match url="^([^/]+)(/.+)?/css/img/(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="app/{R:1}/webroot/cssimg/{R:3}" />
                </rule>
                <rule name="アプリCSS/JS" stopProcessing="true">
                    <match url="^([^/]+)/(css|js)/(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="app/{R:1}/webroot/{R:2}/{R:3}" />
                </rule>
                <rule name="アプリ共通画像" stopProcessing="true">
                    <match url="^([^/]+)/images/(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="app/{R:1}/webroot/images/{R:2}" />
                </rule>
                <rule name="アプリモジュール画像" stopProcessing="true">
                    <match url="^([^/]+)/.*/images/(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="app/{R:1}/webroot/images/{R:2}" />
                </rule>
                <rule name="upload">
                    <match url="^([^/]+)/files/(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="app/{R:1}/upload_files/{R:2}" />
                </rule>
                <rule name="ルーティング" stopProcessing="true">
                    <match url="^.*$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="1073741824" />
            </requestFiltering>
        </security>
    </system.webServer>
    <system.web>
        <httpRuntime maxRequestLength="1048576" />
    </system.web>
</configuration>
