/*	ツリーメニューの表示用　*/
/* [上下左右] [上下][左右} [上][左右][下] [上][右][下][左] */
.sitemap {
    position: relative;
 }
.sitemap .boldtxt a {
    color: white;
    font-weight:bold;
    text-decoration: none;
}
.sitemap .title {
    text-align: center;
    font-size: 10pt;
    height:2em;
    color: white;
    background-color: gray;
    width:100%;
}

.nounder,.file,.folder {
	font-size: 10pt;
    text-decoration: none;
    vertical-align: top;
}
