/*
ブログスタイル
*/
body {
    background-color:#dff2f2
}
.appWindow {
    overflow:hidden;
    font-size:12pt;
}
/*
    ブログメイン：記事一覧スタイル
*/
.blogHeader {
	box-sizing: border-box;
    z-index:111;
    width:100%;
    background-color:whitesmoke;
}
.blogHeader>h1.logo-head {
    font-size:24pt;
    height:90px;
    padding-left:200px; /* ロゴイメージの分スペースを空ける */
    background: url(/res/images/pawmoo.png) no-repeat left;
}
.blogHeader .right_item {
    float:right;
    top:0;
    right:5px;
}
.blogHeader .right_item:after { clear:both; }

.blogBody {
    width:100%;
    height:100%;
    font-size:12pt;
    display:flex;
    user-select: text;
}
/* 左サイドのメニューコンテンツ */
.blogBody .leftBlock {
    position:absolute;
    left:0;
    padding:0;
    width:15%;
    background-color:whitesmoke;
}
/* メインコンテンツ */
.blogBody .blogMain {
    position:absolute;
    left:17%;
    width:60%;
    padding:0 10px;
    background-color:white;
}
.blogBody .blogMain .topLine {
    width:100%;
    height:2em;
}
.prev_next {
    font-size:11pt;
    width:100%;
    margin-top:50px;
}
.prev_next th {
    white-space: nowrap;
}
.prev_next td {
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rightitem {
    position:relative;
    float:right;
    text-align:right;
}
.rightitem:after {
    clear:both;
}
.leftitem {
    float:left;
    text-align:left;
}
.leftitem:after {
    clear:both;
}

.blogMain ol {
	padding-left:25px;
    counter-reset: count 0;
    list-style-type: none;
}
.blogMain ol>li:before {
    counter-increment: count 1;
    content: counters(count, "-") ". ";
}
.blogMain ol ul {
	padding-left:50px;
 }

.blogMain h2 {
    background-color:#111133;
    color:white;
    margin-bottom:20px;
    margin-top:10px;
    padding-left:10px;
}
.blogMain h2.summary {
    background-color:#331111;
    color:white;
    margin-bottom:20px;
    margin-top:30px;
    padding-left:10px;
}
/* ブログ項目(本文) */
.blog_item>.easy_markdown {
    border:1px solid black;
    background-color:#eeffff;
    padding:20px;
    margin:15px 0 30px 20px;
    font-size:12pt;
    border:1px solid black;
}
/* 目次 */
.blog_item>.TOC {
    margin: 50px 0 80px 80px;
    padding:10px 30px;
    width:70%;
    border:1px solid black;
}
.blog_item>.TOC > ul {
    margin-left: 50px;
    margin-bottom:20px;
}
.blog_item>.TOC > ul ul {
    margin-left: 20px;
}
/* セクション部 */
.blog_item .blog_section>h3 {
    margin: 10px 0 10px 0px;
    padding-left:20px;
    border-left:10px solid green;
    border-bottom: 2px solid silver;
}
.blog_item .blog_section>.easy_markdown {
    padding-left:10px;
    margin-left:5px;
    font-size:11pt;
}
/* 本文 */
.blog_item .blog_content>h4 {
    margin: 20px 0 10px 5px;
}
.blog_item .blog_content>.easy_markdown {
    padding-left:10px;
    margin-top:5px;
    margin-left:5px;
    font-size:11pt;
}
.wide_row {
    line-height: 2.8em;
    margin-top:5px;
    margin-left:40px;
    font-size:12pt;
}
/* フッター部 */
.blogMain .blog_footer p {
    padding:10px;
    margin:10px 0 30px 20px;
    font-size:11pt;
}

/* 右サイドのメニューコンテンツ */
.blogBody .rightBlock {
    left:78%;
    width:19%;
    min-height:60%;
    padding:0 10px;
}
.profile {
    z-index: 1;
    width:100%;
    height: 20em;
    border:1px solid black;
    background-color: white;
}
/* スクロールトップボタン */
#move-top {
    position: fixed;
	display:flex;
	width: 2em;
	height:1.5em;
    bottom: 30px;
    right: 5.5em;
	cursor: pointer;
	font-size:20pt;
	font-weight: bold;
	color:silver;
    text-align: center;
	align-items: center;
    justify-content: center;
	border: 1px solid #ccc;
	border-radius: 5px;
    background-color: #ddd;
	box-shadow: 1px 1px 2px #E7E7E7;
}
#move-top:hover {
    background-color: #ccc;
    color: gray;
}

/* リスト表示 */
.blogMain .blog_list>dl>dt {
    padding-left:50px;
}
.secret, .secret a {
    color:gray;
    background-color: silver;
}
.blogMain .blog_list>dl>dt:before {
    content:"・ ";
}

.blogMain .blog_list>dl>dt>.date {
    position:absolute;
    right:0;
    font-size: 8pt;
}
.blogMain .blog_list>dl>dd {
    padding-left:100px;
    margin-bottom:1.5em;
}

.short_txt {
    width:12em;
    text-overflow: clip;
}
