
.error_box {
    position:relative;
    width:60%;
    height: auto;
    padding: 0 50px;
    margin: 0 auto;
    background-color: whitesmoke;
}
.message_box {
    position:relative;
    width:50%;
    height: auto;
    padding: 0 50px;
    margin: 0 auto;
    background-color: whitesmoke;
}
.message_box table th {
    white-space: nowrap;
}
