/*
===============================================================================
バルーンヘルプ表示CSS
*/
.baloon-BK,.popup-BK {
    z-index:1;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
	height:100%;/*for old Safari*/
    height:100vh;
}
.baloon-BK:not(:target) {height:100%\9} /* IE9,10 */
/*    ポップアップ吹き出し */
.popup-baloon {
    z-index:2;
    position:fixed;
    display:none;
    margin-top: 16px;
    padding: 5px 10px 10px 15px;
    border: 1px solid gray;
    border-radius:12px;
    background: lightyellow;
    font-size:10pt;
    color:black;
}
/* 左フキダシ部分を作成 */
.baloon-left:before {
    content: "";
    position: absolute;
    border-top: 15px solid transparent;
    top:-15px;
    left:8px;
    border-left: 12px solid gray;
    width : 0px;
}
.baloon-left:after {
    content: "";
    position: absolute;
    border-top: 15px solid transparent;
    top:-13px;
    left:9px;
    border-left: 12px solid lightyellow;
    width : 0px;
}
/* 右フキダシ部分を作成 */
.baloon-right:before {
    content: "";
    position: absolute;
    top:-15px;
    right:18px;
    border-top: 15px solid transparent;
    border-right: 12px solid gray;
    width : 0px;
}
.baloon-right:after {
    content: "";
    position: absolute;
    top:-13px;
    right:19px;
    border-top: 15px solid transparent;
    border-right: 12px solid lightyellow;
}
/*==============================================================================
    ポップアップボックス
*/
.popup-box {
    z-index:2;
    position:fixed;
    display:none;
    padding:10px;
    border: 1px outset silver;
    border-radius:3px;
    background: whitesmoke;
    font-size:10pt;
    color:black;
    overflow:hidden;
    min-width:100px;
    min-height:150px;
}
/*	padding: 0px 10px;	/* [上下左右] [上下][左右} [上][左右][下] [上][右][下][左] */
.popup-box span.resize {
    z-index:1;
    position:absolute;
    right:0;
    bottom:0;
    width:12px;
    height:12px;
    cursor:se-resize;
    background: url(res/img/resize.png) no-repeat left top;
}
.popup-box span.resize_message {
    z-index:1;
    display:none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 120px;
    height: 1.5em;
    margin: auto;
    user-select:none;
    text-align: center;
    border: 1px dashed gray;
    background-color:floralwhite;
}

/* close button */
.popup-box span.close {
    z-index:1;
    position:absolute;
    top:0;
    right: 5px;
    width:23px;
    height:23px;
    cursor:pointer;
    background: url(res/img/boxclose.png) no-repeat left top;
}
.popup-box span.close:hover {
    background: url(res/img/boxclose.png) no-repeat left -23px;
}
.popup-box span.close:active {
    border-top:1px solid #333;
    border-left:1px solid #333;
    border-right:1px solid #eee;
    padding-left:1px;
    padding-top:1px;
}
.popup-box .contents {
    overflow-y:auto;
    overflow-x:hidden;
    width:100%;
    height:100%;
}
.popup-box dl dt {
    padding-left: 10px;
    font-weight: bold;
}
.popup-box dl dd {
    padding-left:20px;
    margin-bottom:5px;
}

/* ヘルプアイコン */
span.help_icon {
    position:absolute;
    float:top;
    margin-top:2px;
    width:24px;
    height:22px;
    background: url(res/img/pop_help.png) no-repeat left top;
}
/* ヘルプアイコン */
span.help_icon.mouseover {
    margin-left:2px;
    background: url(res/img/pop_help_b.png) no-repeat left top;
}
/*==============================================================================
    インフォボックス
*/
.info-box {
    z-index:0;
    position:fixed;
    display:none;
    min-width:100px;
    min-height:150px;
    font-size:10pt;
    color:black;
    padding:10px 20px;
    border: 1px solid gray;
    border-radius:3px;
    background: whitesmoke;
    border-radius:8px;
    box-shadow: 5px 5px silver;
    overflow:hidden;
}
/*==============================================================================
    ダイアログボックス
*/
.dialog-box {
    z-index:2;
    position:fixed;
    display:none;
    min-width:200px;
    min-height:150px;
    font-size:10pt;
    color:black;
    border: 1px solid black;
    border-radius:3px;
    background: white;
    border-radius:4px;
    box-shadow: 5px 5px silver;
    overflow:hidden;
    user-select:none;
}
.dialog-box dl {
    width:100%;
}
.dialog-box dl dd {
    width:100%;
    padding:4px 10px;
}
/* ダイアログボックスのタイトル */
.dialog-box dl dt {
    height:25px;
    line-height:25px;
    text-indent:0.5em;
    font-weight:bold;
    padding:0 8px 4px 22px;
    color:black;
    background: url(res/img/confirm.png) no-repeat left top;
}
.dialog-box .dialog-msg {
    position:relative;
    width:100%;
    height:auto;
    padding:10px 20px;
}
.dialog-box .buttonList {
    position:absolute;
    width:100%;
    height:1.2em;
    bottom:0;
    text-align: left;
    padding: 15px 5px;
    margin:auto;
    background-color: #f1f1f1;
}
/* 実行ボタン */
.dialog-box .buttonList .okButton,
.dialog-box .buttonList .cancelButton
{
    margin: 0 15px;
	border: 1px solid #333;
	padding: 2px 12px;
	font-weight: bold;
	font-size:9pt;
	cursor: pointer;
	color: #666;
	border-radius: 4px;
}
.dialog-box .buttonList .okButton:hover,
.dialog-box .buttonList .cancelButton:hover
 {
    background: linear-gradient(#ccc,#fff, #ccc);
}
.dialog-box .buttonList .okButton:active,
.dialog-box .buttonList .cancelButton:active
{
	background: #aaa;  
	padding: 6px 10px 4px;  
}
