
.dialog-BK {
    z-index:100;
    position:fixed;
    display:none;
    top:0;
    left:0;
    width:100%;
    height:100%;/*for old Safari*/
    height:100vh;
    background-color:rgba(200,200,200,0.75);
}
.dialog-BK * {
	margin:0;
	padding:0;
}
.checklist-dialog {
    position: absolute;
    display:block;
    overflow: hidden;
    border:2px solid gray;
    border-radius: 5px;
    background-color:white;
	box-shadow: 1px 1px 2px gray;
}
/* checklist tabset */
.checklist-dialog .checklist-tabs {
	display:flex;
	list-style:none;
	margin:0;
}
.checklist-dialog .checklist-tabs>li {
	border:1px solid gray;
	padding:0 20px;
	border-radius: 5px 5px 0 0;
	cursor: pointer;
}
.checklist-dialog .checklist-tabs>li.selected {
	color: white;
	background-color: gray;
}
/* tab-contents style */
.checklist-dialog .checklist-contents {
	clear:both;
	list-style: none;
	padding-left: 1em;
	padding-right: 1em;
	overflow: auto;
	padding-top:5px;
	margin-bottom: 8px;
	border-top: 1px dotted gray;
}
.checklist-dialog .checklist-contents>li {padding:0;display:none;}
.checklist-dialog .checklist-contents>li.selected {display:block;}

.checklist-dialog ul {
	top:0;
	left:0;
	display:block;
	list-style: none;
	/* margin-bottom:10px; */
}
.checklist-dialog ul.col2 { column-count: 2; }
.checklist-dialog ul.col3 { column-count: 3; }
.checklist-dialog ul.col4 { column-count: 4; }
.checklist-dialog ul.col5 { column-count: 5; }
.checklist-dialog ul.col6 { column-count: 6; }
.checklist-dialog ul.col7 { column-count: 7; }
.checklist-dialog ul.col8 { column-count: 8; }
.checklist-dialog ul.col9 { column-count: 9; }
/* 見た目の調整 */
.checklist-dialog input.multi-check { margin-right:2px; }
.checklist-dialog hr { margin:5px; }

/* Dialogタイトルバー */
.checklist-dialog .titleBar {
	width:100%;
	font-size: 8pt;
	overflow: hidden;
	padding: 0 0.5em;
	border-bottom:1px solid black;
	margin-bottom: 1px;
	color:white;
    background: linear-gradient(blue,navy,blue );
}
.checklist-dialog .checkBar {
	float:right;
    text-align:right;
	color: cyan;
	margin-left:10px;
}
.checklist-dialog > .bottom-bar {
	font-size:8pt;
	display: block;
	width:100%;
	height:2.2em;
    background: linear-gradient(to bottom, whitesmoke,silver );
	border-top: 1px dotted gray;
}
.checklist-dialog .wbutton {
	position:absolute;
	top:0;
	right:0.8em;
	text-align:center;
	cursor:pointer;
	padding:1px 8px;
	margin:2px;
	border-radius: 5px;
	box-shadow: 2px 2px 4px gray;
	color:white;
    background: linear-gradient(navy,darkblue,navy );
}
.checklist-dialog .wbutton:active {
	right:0.6em;
	top:0.1em;
	color:yellow;
}
/* チェックリスト用スタイル */
.popup-checklist {
	width:100%;
	text-align: left;
	display: inline-flex;
	flex-wrap: wrap;
	white-space: nowrap;
}
.popup-checklist > label {
	width:100%;
	padding-left: 5px;
	background-color: silver;
	border:1px solid gray;
}
.popup-checklist span.dropdown {
	position:absolute;
    right: 0px;
    width:20px;
    height:20px;
    cursor:pointer;
    background: silver url(res/img/drop_arrow.png) no-repeat left top;
	border-left:1px solid gray;
}
.popup-checklist span.dropdown:hover {
    background: whitesmoke url(res/img/drop_arrow.png) no-repeat left top;
}
