
.dialog-BK {
    z-index:90000;
    position:fixed;
    display:none;
    top:0;
    left:0;
    width:100%;
    height:100%;/*for old Safari*/
    height:100vh;
    background-color:rgba(200,200,200,0.75);
}
.dialog-BK * {
	margin:0;
	padding:0;
}
.checklist-dialog {
    position: absolute;
    display:block;
    overflow: hidden;
    border:2px solid gray;
    border-radius: 5px;
    background-color:white;
	box-shadow: 1px 1px 2px gray;
}
/* checklist tabset */
.checklist-dialog .checklist-tabs {
	display:flex;
	list-style:none;
}
.checklist-dialog .checklist-tabs>li {
	width:100%;
	padding:2px 20px;
	cursor: pointer;
	color: gray;
	background-color: whitesmoke;
	white-space: nowrap;
	text-align: center;
	border-left: 1px dotted gray;
	border-right: 1px dotted gray;
}
.checklist-dialog .checklist-tabs>li.selected {
	color: white;
	font-weight: bold;
	background-color: navy;
}
/* tab-contents style */
.checklist-dialog .checklist-contents {
	clear:both;
	list-style: none;
	overflow: auto;
	padding:5px 1em;
	border-top: 1px dotted gray;
}
.checklist-dialog .checklist-contents>li {padding:0;display:none;}
.checklist-dialog .checklist-contents>li.selected {display:block;}

.checklist-dialog ul {
	top:0;
	left:0;
	list-style: none;
}
.checklist-dialog ul.col2 { column-count: 2; }
.checklist-dialog ul.col3 { column-count: 3; }
.checklist-dialog ul.col4 { column-count: 4; }
.checklist-dialog ul.col5 { column-count: 5; }
.checklist-dialog ul.col6 { column-count: 6; }
.checklist-dialog ul.col7 { column-count: 7; }
.checklist-dialog ul.col8 { column-count: 8; }
.checklist-dialog ul.col9 { column-count: 9; }
/* 見た目の調整 */
.checklist-dialog input.multi-check { margin-right:2px; }
.checklist-dialog hr { margin:5px; }

/* Dialogタイトルバー */
.checklist-dialog .titleBar {
	width:100%;
	font-size: 8pt;
	overflow: hidden;
	padding: 5px 0.5em;
	color:white;
	background-color: navy;
}
.checklist-dialog .checkBar {
	float:right;
    text-align:right;
	color: cyan;
	margin-left:10px;
}
.checklist-dialog > .bottom-bar {
	font-size:8pt;
	display: flex;
	width:100%;
	padding:3px;
	justify-content: center;
	align-items: center;
    background: linear-gradient(to bottom, whitesmoke,silver );
	border-top: 1px dotted gray;
}
/* 全てをチェックするcheckboxのスタイル */
.checklist-dialog > .bottom-bar > label {
	position: absolute;
	left:5px;
}
/* チェックボックスの表示位置を揃える */
.checklist-dialog > .bottom-bar > label > input {
	vertical-align: middle;
}
.checklist-dialog .wbutton {
	text-align:center;
	cursor:pointer;
	padding:2px 8px;
	border-radius: 5px;
	box-shadow: 2px 2px 4px gray;
	color:white;
    background: linear-gradient(navy,darkblue,navy );
}
.checklist-dialog .wbutton:active {
	color:yellow;
	transform: translate(2px,1px);
	border-bottom:none;
}
/* チェックリスト用スタイル */
.popup-checklist {
	width:100%;
	text-align: left;
	display: inline-flex;
	flex-wrap: wrap;
	white-space: nowrap;
}
.popup-checklist > label {
	width:100%;
	padding-left: 5px;
	background-color: silver;
	border:1px solid gray;
}
/* .popup-checklist span.dropdown:after {
	position:relative;
	top:0.5em;
    right: 7px;
	border:5px solid transparent;
	border-top:8px solid gray;
	content:"";
} */
.popup-checklist span.dropdown {
	position:absolute;
    right: 0px;
    width:20px;
    height:20px;
    cursor:pointer;
    background: silver url(res/img/drop_arrow.png) no-repeat left top;
	border-left:1px solid gray;
}
.popup-checklist span.dropdown:hover {
    background: whitesmoke url(res/img/drop_arrow.png) no-repeat left top;
}
