/* デバッグツール用のスタイル */
.debugBar {
    z-index:999;
    position:fixed;
    float:right;
    overflow: hidden;
    top:0;
    right:0;
    width: 1.0em;
    background: #aaa;
    color: white;
    border-bottom-left-radius: 10px;
    box-shadow: 1px 1px 2px black;
}
/* メニュー表示 */
.debugtab ul#debugMenu {
    min-width: 800px;
    padding-left:28px;
    user-select: none;
    overflow: hidden;
}
.debugtab ul#debugMenu li {
    height:16px;
    list-style:none;
    float:left;
    padding:6px 10px 2px;
    cursor:pointer;
    font-size:9pt;
}
.debugtab ul#debugMenu li.selected {
    background: #333;
}
/* close button */
.debugtab span.closeButton {
    z-index: 3;
    position: absolute;
    top:0;
    left:5;
    width:23px;
    height:23px;
    cursor:pointer;
    background: url(res/img/boxclose.png) no-repeat left top;
}
.debugtab span.closeButton:hover {
    background: url(res/img/boxclose.png) no-repeat left -23px;
}

/* メッセージ表示パネル */
.debug-panel ul.dbcontent li {
    display:none;
}
/* メッセージ表示領域 */
.debug_srcollbox {
    overflow:auto;
    padding:5px;
    border:1px solid #000;
    background-color:#F9F9F9;
    color:#000;
    font-size:10pt;
}
.debug_msg_box {
    width:800px;
    word-wrap: break-word;
}
/* 閉じるための外領域 */
.debugBK {
	z-index:1;
	position: fixed;
	top: 0;
	left: 0;
	height:100%;
	width:100%;
	background:#eee;
	opacity: 0.4;
	filter: alpha(opacity=40);
	-moz-opacity:0.40;
    display:none;
}
