/*
    ファイルアップロードダイアログのクラス定義
*/
.progress-BK {
    z-index:90000;
    position:fixed;
    display:none;
    top:0;
    left:0;
    width:100%;
    height:100%;/*for old Safari*/
    height:100vh;
    background-color:rgba(200,200,200,0.75);
}
.progress-dialog {
    z-index:1;
    position: absolute;
    display:block;
    width:45%;
    top:25%;
    left:0;
    right:0;
    padding:10px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border:2px solid black;
    border-radius: 15px;     /* CSS3 */
    background-color:white;
	box-shadow: 1px 1px 2px gray;
}
.progress-dialog .buttonBar {
    text-align:center;
    width:100%;
    height:auto;
    left:0;
    margin-top: 1.5em;
    margin-bottom:1.0em;
}
.progress-dialog .buttonBar>.button {
    margin: 0 12px;
}
.progress-dialog .progress-Bar {
    width:100%;
    display:flex;
    align-items: center;
}
.progress-Bar>.cancel-button {
    width:16px;
    height:24px;
	border-top:1px dashed black;
	border-right:1px dashed black;
	border-bottom:1px dashed black;
	font-size:10pt;
    font-weight:bold;
	cursor: pointer;
	color: red;
	text-align:center;
    align-items: center;
	padding:0;
	border-radius: 0 4px 4px 0;
    background: linear-gradient(#aaa,#FFF, #aaa);
}
.progress-Bar>.cancel-button:hover {
	color: blue;
    background: linear-gradient(#FFF,#aaa, #FFF);
}

.progress-Bar>.progress-panel {
	width:95%;
	height:24px;
	border-top:1px dashed black;
	border-left:1px dashed black;
	border-bottom:1px dashed black;
	text-align:right;
	padding:0;
    margin:4px 0 4px 0;
	border-radius: 5px 0 0 5px;
    color:gray;
    overflow:hidden;
}
.progress-Bar>.progress-panel .progress-gain {
	position:absolute;
	top:0;
	left:0;
    width:0;
	height: 100%;
	text-align:right;
	color:blue;
	background-color: rgba(150,180,255,0.75);
    border-radius: 6px;     /* CSS3 */
}
.progress-Bar>.progress-panel .left {
	position: absolute;
    width:80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
	left:0;
    font-size: 8pt;
	font-weight:bold;
    color:inherit;
    padding-left:5px;
    text-align:left;
}
.progress-Bar>.progress-panel .right {
	position: absolute;
	right:5px;
    font-size: 8pt;
	font-weight:bold;
    color:inherit;
    text-align: bottom;
    white-space: nowrap;
}
/* 送信完了状態 */
.progress-panel.complete { background-color:lightskyblue; color:black; 	border-radius: 5px;}
.progress-panel.complete .progress-gain {display: none;}
/* エラー状態 */
.progress-panel.error { background-color:#C00000; color:white;border-radius: 5px;}
/* ドラッグ中の枠 */
.drag-over {
    border: 2px solid #0B85A1 !important;
}
/********************************************************************************/
/* ペアファイルのアップロード用スタイル */
.progress-dialog>.files-pair {
    width:100%;
    padding: 0 5px;
}
.progress-dialog>.files-pair > table {
    width:98%;
    border-collapse: collapse;
}
.progress-dialog>.files-pair > table th {
    border:1px solid black;
    background-color: #ccc;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    width: 70px;;
}
.progress-dialog>.files-pair > table td {
    border:1px solid black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding:2px 0px;
}
.progress-dialog>.files-pair > table td.first {
    max-width: 160px;
    min-width: 160px;
    padding:2px 5px;
    background-color: #aff;
}
.progress-dialog>.files-pair > table td.second {
    max-width: 240px;
    min-width: 240px;
    background-color: #aff;
    padding:2px 5px;
}
.progress-dialog>.files-pair > table td.second.error {
    background-color: #f33;
}

.progress-dialog>.files-pair label > input {
    width:0;
    display:none;
}
.progress-dialog>.files-pair label {
    cursor:pointer;
    color: white;
    background-color: darkblue;
    padding: 20px;
    border: double 2px white;
}
.progress-dialog>.files-pair input[type='text'] {
    width:98%;
    background-color: #fafad0;
    margin:0;
    padding:2px 5px;
    border:none;
}

