/* --------------------------
    floatWin style
*/
.floatWindow {
    z-index: 2;
    display: none;
    position:absolute;
    width:550px;
    height:400px;
    min-width:400px;
    min-height:300px;
    top:200px;
    left:100px;
    border:2px solid #113366;
    border-radius: 5px 5px 0 0;     /* CSS3 */
    background-color:white;
    user-select:none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.floatWindow dl {
	margin: 0;
    width:100%;
    height:calc(100% - 11px);   /* リサイズアイコン:11px */
}
.floatWindow dl dd {
    width:100%;
    height:calc(100% - 25px);   /* DTタイトル:25px */
    overflow-x:hidden;
    overflow-y:auto;
}
/* フロートウィンドウのタイトル */
.floatWindow dl dt {
    height:25px;
    line-height:25px;
    text-indent:0.5em;
    font-weight:bold;
    cursor:move;
    padding-top:2px;
    color:white;
    background: url(res/img/titleback.png) repeat-x;
/*    border-radius: 5px 5px 0 0;     /* CSS3 */
}
/* ドロップ可能なタイトルバー */
.floatWindow.drop dl dt {
    background: url(res/img/droptitle.png) repeat-x;
}

/* close button */
.floatWindow span.close {
    z-index:3;
    position:absolute;
    top:0;
    right: 5px;
    width:23px;
    height:23px;
    cursor:pointer;
    background: url(res/img/close.png) no-repeat left top;
}
.floatWindow span.close:hover {
    background: url(res/img/close.png) no-repeat left -23px;
}
.floatWindow span.close:active {
    border-top:1px solid #333;
    border-left:1px solid #333;
    border-right:1px solid #eee;
    padding-left:1px;
    padding-top:1px;
}
.floatWindow span.fw_resize {
    z-index:33;
    position:absolute;
    right:0;
    bottom:0;
    width:12px;
    height:12px;
    cursor:se-resize;
    background: url(res/img/resize.png) no-repeat left top;
}
.floatWindow span.fw_resize_message {
    z-index:33;
    border: 1px dashed gray;
    display:none;
    width: 120px;
    height: 1.5em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    user-select:none;
    text-align: center;
    background-color:floralwhite;
}

/* 初期化タグは非表示 */
.floatWindow data {
    display:none;
}
/* floatWindow の背景領域 */
.floatWin-BK {
	z-index: 1;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#333;
    opacity:0.4;
    filter:alpha(opacity=40);
}
/* 実行ボタン */
.floatWindow .Button
{
    margin: 0 15px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	border-left: 1px solid #ccc;
	padding: 2px 12px;
	font-weight: bold;
	font-size:9pt;
	cursor: pointer;
	color: #666;
	border-radius: 2px;
/*	text-shadow: 0 -1px 1px #FFF, -1px 0 1px #FFF, 1px 0 1px #ccc;
*/	box-shadow: 1px 1px 2px #E7E7E7;
    background: linear-gradient(#f1f1f1,#dfdfdf, #ccc);
}
.floatWindow .Button:hover
 {
    color:white;
    background: linear-gradient(#333,#888, #333);
}
.floatWindow .Button:active
{
	background: #aaa;  
	padding: 6px 10px 4px;  
}
.floatWindow .buttons-bar {
	z-index:1;
	position:absolute;
	bottom:6px;
    width:100%;
	height:36px;
	padding-top:10px;
    text-align: center;
}
