@charset "UTF-8";
/* フレームワークの基本スタイル */
/*	[上下左右] [上下][左右} [上][左右][下] [上][右][下][左] */
* {
    position: relative;
    margin: 0;
    padding: 0;    
	box-sizing: border-box;
}
html, body {
    height: 100vh;
    min-height: 100vh;
    font-size:10pt;
	overflow: hidden;
}

.appWindow {
    position:fixed;
    width: 100%;
    min-width: 100%;
    height: 100%;
	min-height: 100%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.icon {
    margin: 0 2px;
    cursor:pointer;
    box-shadow: 1px 1px 2px #000;
    background: linear-gradient(to bottom, white, silver);
}

.button	{
	z-index:1;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #333;
	border-bottom: 2px solid #333;
	padding: 2px 8px;
	font-weight: bold;
	font-size:9pt;
	cursor: pointer;
	color: #444;
	text-align:center;
	border-radius: 2px;
/*	text-shadow: 0 -1px 1px #FFF, -1px 0 1px #FFF, 1px 0 1px #aaa; */
	box-shadow: 1px 1px 2px #E7E7E7;
    background: linear-gradient(to bottom, white, silver);
}
.button:hover {
    background: linear-gradient(to bottom, silver, white);
}
.button:active {
	background: #aaa;  
}
/* 削除ボタン付きリスト */
.delete-item-list {
	list-style: none;
}
.delete-item-list>li {
	white-space: nowrap;
	height:22px;
}
.delete-item-list>li>del {
	display: inline-block;
	width:18px;
	height:20px;
	cursor: pointer;
	background: url(res/img/del_button.png) no-repeat left top;
}
.delete-item-list>li>del:hover {
	background: url(res/img/del_button.png) no-repeat left -20px;
}

option.disable {
	color:silver;
}
/* コンボボックススタイル */
.combobox  {
	height:1.75em;
	padding:0;
	display:inline-flex;
}
.combobox select {
	width:100%;
	height:100%;
	border:1px solid black;
}
.combobox input {
	position:absolute;
	top:3px;
	left:3px;
	bottom:3px;
	border:none;
	/* height:1.25em;
	margin:2px; */
}
.ui-datepicker-trigger {
   position: absolute;
}