@charset "UTF-8";
/* フレームワークの基本スタイル */
/*	[上下左右] [上下][左右} [上][左右][下] [上][右][下][左] */
.appWindow {
    position:fixed;
    width: 100%;
    min-width: 100%;
    height: 100%;
	min-height: 100%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.appicon {
    margin: 0 2px;
    cursor:pointer;
    box-shadow: 1px 1px 2px #000;
    background: linear-gradient(to bottom, white, silver);
}

.button	{
	z-index:1;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #333;
	border-bottom: 2px solid #333;
	padding: 2px 8px;
	font-weight: bold;
	font-size:9pt;
	cursor: pointer;
	color: #444;
	text-align:center;
	border-radius: 2px;
	white-space: nowrap;
/*	text-shadow: 0 -1px 1px #FFF, -1px 0 1px #FFF, 1px 0 1px #aaa; */
	box-shadow: 1px 1px 2px #E7E7E7;
    background: linear-gradient(to bottom, white, silver);
}
.button:hover {
    background: linear-gradient(to bottom, silver, white);
}
.button:active {
	background: #aaa;  
}
/* リンク下線省略 */
a.nounder {
	text-decoration: none;
}
/* 削除ボタン付きリスト */
.delete-item-list {
	list-style: none;
}
.delete-item-list>li {
	white-space: nowrap;
	height:22px;
}
.delete-item-list>li>.del {
	display: inline-block;
	width:18px;
	height:20px;
	cursor: pointer;
	background: url(res/img/del_button.png) no-repeat left top;
}
.delete-item-list>li>.del:hover {
	background: url(res/img/del_button.png) no-repeat left -20px;
}

option.disable {
	color:silver;
}
/* コンボボックススタイル */
.combobox  {
	height:1.75em;
	padding:0;
	display:inline-flex;
}
.combobox select {
	width:100%;
	height:100%;
	border:1px solid black;
}
.combobox input {
	position:absolute;
	top:3px;
	left:3px;
	bottom:3px;
	border:none;
	width:calc(100% - 1.5em);
	height:calc(100% - 4px);
}
.ui-datepicker-trigger {
   /* position: absolute; */
	vertical-align: middle;
}
/* チェックボックス・ラジオボタンリスト */
ul.input-list {
	list-style: none;
}
ul.input-list:after {
	clear: both;
}
/* デフォルトは横並び */
ul.input-list>li {
	margin: 0 5px;
	display: inline;
}
/* 縦並び指定ブロック内 */
ul.input-list.vertical>li ,
.vertical>ul.input-list>li {
	display: block;
}
/* チェックボックスの位置揃え */
input[type="checkbox"],
input[type="radio"] {
	vertical-align: middle;
	margin-right: 4px;
}

/* メニューの雛形コンテナ */
.menu-container {
	display:none;
}
/* ファイル送信ラベル */
.file-label {
	display:flex;
	white-space: nowrap;
	align-items: center;
    vertical-align: middle;
	border: 1px solid skyblue;
	padding:0;
	font-size:10pt;
}
.file-label>input[type="file"] {
	display: none;
}
.file-label>input[type="text"] {
	display: inline-block;
	width:100%;
	height:22px;
	background-color:#ffffe4;
	border:none;
}
.file-label>span {
	position:relative;
	display: inline-block;
	width:96px;
	height:22px;
	text-align:center;
	padding-left:18px;
	cursor: pointer;
color:white;
	background: url(res/img/folder-icon.png) no-repeat left top;
}
.file-label>span:hover {
	color:yellow;
	background: url(res/img/folder-icon.png) no-repeat left -22px;
}
/* ドラッグドロップ用 */
#fileList span {
	display: inline-block;
	vertical-align: middle;
	width:24px;
	height:24px;
	margin-right:5px;
}
#fileList span.del {
	cursor: pointer;
	background: url(res/img/icon/icon-file.png) no-repeat left top;
}
#fileList span.del:hover {	background: url(res/img/icon/icon-file.png) no-repeat left -24px;}

#fileList span.icon-doc 	{	background: url(res/img/icon/icon-doc.png) no-repeat left top;}
#fileList span.icon-doc:hover {	background: url(res/img/icon/icon-doc.png) no-repeat left -24px;}

#fileList span.icon-pdf		{	background: url(res/img/icon/icon-pdf.png) no-repeat left top;}
#fileList span.icon-pdf:hover {	background: url(res/img/icon/icon-pdf.png) no-repeat left -24px;}

#fileList span.icon-xls		{	background: url(res/img/icon/icon-xls.png) no-repeat left top;}
#fileList span.icon-xls:hover {	background: url(res/img/icon/icon-xls.png) no-repeat left -24px;}

#fileList span.icon-ppt		{	background: url(res/img/icon/icon-ppt.png) no-repeat left top;}
#fileList span.icon-ppt:hover {	background: url(res/img/icon/icon-ppt.png) no-repeat left -24px;}

#fileList span.icon-img		{	background: url(res/img/icon/icon-img.png) no-repeat left top;}
#fileList span.icon-img:hover {	background: url(res/img/icon/icon-img.png) no-repeat left -24px;}

#fileList span.icon-mov		{	background: url(res/img/icon/icon-mov.png) no-repeat left top;}
#fileList span.icon-mov:hover {	background: url(res/img/icon/icon-mov.png) no-repeat left -24px;}

#fileList span.icon-zip		{	background: url(res/img/icon/icon-zip.png) no-repeat left top;}
#fileList span.icon-zip:hover { background: url(res/img/icon/icon-zip.png) no-repeat left -24px;}

#fileList span.icon-iso		{	background: url(res/img/icon/icon-iso.png) no-repeat left top;}
#fileList span.icon-iso:hover { background: url(res/img/icon/icon-iso.png) no-repeat left -24px;}

#fileList span.icon-txt		{	background: url(res/img/icon/icon-txt.png) no-repeat left top;}
#fileList span.icon-txt:hover { background: url(res/img/icon/icon-txt.png) no-repeat left -24px;}
