/*
===============================================================================
バルーンヘルプ表示CSS
*/
.baloon-BK,.popup-BK {
    z-index:100;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
	height:100%;/*for old Safari*/
    height:100vh;
	cursor: default;
/* background-color: black;
opacity: 0.25; */
}
.baloon-BK:not(:target) {height:100%\9} /* IE9,10 */
/*    ポップアップ吹き出し */
.popup-baloon {
    z-index:101;
    position:fixed;
    top:0;
    left:0;
    display:none;
    margin-top: 16px;
    padding: 10px;
    font-size:10pt;
    border: 2px solid #999;
    border-radius:12px;
    color:#333;
    background: lightyellow;
}
/* 上中央フキダシ部分を作成 */
.baloon-top-center:before {
    content: "";
    position: absolute;
    top:-20px;
    left:calc(50% - 8px);
    border: 8px solid transparent;
    border-bottom: 12px solid #999;
}
.baloon-top-center:after {
    content: "";
    position: absolute;
    top:-17px;
    left:calc(50% - 8px);
    border: 8px solid transparent;
    border-bottom: 12px solid lightyellow;
}
/* 左上フキダシ部分を作成 */
.baloon-top-left:before {
    content: "";
    position: absolute;
    top:-13px;
    left:4px;
    border-top: 13px solid transparent;
    border-left: 18px solid #999;
}
.baloon-top-left:after {
    content: "";
    position: absolute;
    top:-9px;
    left:6px;
    border-top: 13px solid transparent;
    border-left: 18px solid lightyellow;
}
/* 右上フキダシ部分を作成 */
.baloon-top-right:before {
    content: "";
    position: absolute;
    top:-13px;
    right:4px;
    border-top: 12px solid transparent;
    border-right: 18px solid #999;
}
.baloon-top-right:after {
    content: "";
    position: absolute;
    top:-9px;
    right:6px;
    border-top: 13px solid transparent;
    border-right: 18px solid lightyellow;
}
/* 下中央フキダシ部分を作成 */
.baloon-bottom-center:before {
    content: "";
    position: absolute;
    bottom:-20px;
    left:47%;
    border: 8px solid transparent;
    border-top: 12px solid #999;
}
.baloon-bottom-center:after {
    content: "";
    position: absolute;
    bottom:-17px;
    left:47%;
    border: 8px solid transparent;
    border-top: 12px solid lightyellow;
}
/* 左下フキダシ部分を作成 */
.baloon-bottom-left:before {
    content: "";
    position: absolute;
    bottom:-13px;
    left:4px;
    border-bottom: 13px solid transparent;
    border-left: 18px solid #999;
}
.baloon-bottom-left:after {
    content: "";
    position: absolute;
    bottom:-9px;
    left:6px;
    border-bottom: 13px solid transparent;
    border-left: 18px solid lightyellow;
}
/* 右フキダシ部分を作成 */
.baloon-bottom-right:before {
    content: "";
    position: absolute;
    bottom:-13px;
    right:4px;
    border-bottom: 12px solid transparent;
    border-right: 18px solid #999;
}
.baloon-bottom-right:after {
    content: "";
    position: absolute;
    bottom:-9px;
    right:6px;
    border-bottom: 13px solid transparent;
    border-right: 18px solid lightyellow;
}
/* 左フキダシ部分を作成 */
.baloon-left:before {
    content: "";
    position: absolute;
    top:calc(50% - 8px);
    left:-20px;
    border: 8px solid transparent;
    border-right: 12px solid #999;
}
.baloon-left:after {
    content: "";
    position: absolute;
    top:calc(50% - 8px);
    left:-17px;
    border: 8px solid transparent;
    border-right: 12px solid lightyellow;
}
/* 右フキダシ部分を作成 */
.baloon-right:before {
    content: "";
    position: absolute;
    top:calc(50% - 8px);
    right:-20px;
    border: 8px solid transparent;
    border-left: 12px solid #999;
}
.baloon-right:after {
    content: "";
    position: absolute;
    top:calc(50% - 8px);
    right:-17px;
    border: 8px solid transparent;
    border-left: 12px solid lightyellow;
}
/*==============================================================================
    ポップアップボックス
*/
.popup-box {
    z-index:999;
    position:fixed;
    display:none;
    padding:10px;
    border: 1px outset silver;
    border-radius:3px;
    background: whitesmoke;
    font-size:10pt;
    color:black;
    overflow:hidden;
    min-width:100px;
    min-height:150px;
	padding-bottom: 12px;	/* for resize-icon */
}
.popup-box span.pw_resize {
    z-index:3;
    position:absolute;
    right:0;
    bottom:0;
    width:12px;
    height:12px;
    cursor:se-resize;
    background: url(res/img/resize.png) no-repeat left top;
}
.popup-box span.pw_resize_message {
    z-index:3;
    display:none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 120px;
    height: 1.5em;
    margin: auto;
    user-select:none;
    text-align: center;
    border: 1px dashed gray;
    background-color:floralwhite;
}

/* close button */
.popup-box span.close {
    z-index:3;
    position:absolute;
    top:0;
    right: 5px;
    width:23px;
    height:23px;
    cursor:pointer;
    background: url(res/img/boxclose.png) no-repeat left top;
}
.popup-box span.close:hover {
    background: url(res/img/boxclose.png) no-repeat left -23px;
}
.popup-box span.close:active {
    border-top:1px solid #333;
    border-left:1px solid #333;
    border-right:1px solid #eee;
    padding-left:1px;
    padding-top:1px;
}
.popup-box .contents {
    overflow-y:auto;
    overflow-x:hidden;
    width:100%;
    height:95%;
}
.popup-box dl dt {
    padding-left: 10px;
    font-weight: bold;
}
.popup-box dl dd {
    padding-left:20px;
    margin-bottom:5px;
}
.popup-box .custom-button {
	display:flex;
	width:95%;
	padding-top:2px;
	border-top:1px dotted silver;
    justify-content: center;
}
.popup-box .custom-button > .button {
	display: inline-block;
	width:4em;
	margin: 0 1em;
}

/* ヘルプアイコン */
.help_icon {
	display:inline-block;
    width:18px;
    height:19px;
    background: url(res/img/help-icon.png) no-repeat left bottom;
}
/*==============================================================================
インフォボックス
*/
.info-box {
    z-index:2;
    position:fixed;
    display:none;
    min-width:100px;
    min-height:20px;
    font-size:10pt;
    color:black;
    padding:10px 20px;
    border: 1px solid gray;
    border-radius:3px;
    background: #E3F1C7;
    border-radius:8px;
    box-shadow: 5px 5px silver;
    overflow:hidden;
}
/*==============================================================================
    ダイアログボックス
*/
.dialog-box {
    z-index:2;
    position:fixed;
    display:none;
    min-width:200px;
    min-height:150px;
    font-size:10pt;
    color:black;
    border: 1px solid black;
    border-radius:3px;
    background: white;
    border-radius:4px;
    box-shadow: 5px 5px silver;
    overflow:hidden;
    user-select:none;
}
.dialog-box dl {
    width:100%;
}
.dialog-box dl dd {
    width:100%;
    padding:4px 10px;
}
/* ダイアログボックスのタイトル */
.dialog-box dl dt {
    height:25px;
    line-height:25px;
    text-indent:0.5em;
    font-weight:bold;
    padding:0 8px 4px 22px;
    color:black;
    background: url(res/img/confirm.png) no-repeat left top;
/*
    color:white;
    background-color: linear-gradient(-90deg,#ccc,#aaa,#000);
*/
}
.dialog-box .dialog-msg {
    position:relative;
    width:100%;
    height:auto;
    padding:10px 20px;
}
.dialog-box .buttonList {
    position:absolute;
    width:100%;
    height:1.2em;
    bottom:1.0em;
    text-align: center;
    padding: 15px 5px;
    margin:auto;
/*    background-color: #f1f1f1;*/
}
/* 実行ボタン */
.dialog-box .buttonList .okButton,
.dialog-box .buttonList .cancelButton
{
    margin: 0 15px;
	border: 1px solid #333;
	padding: 2px 12px;
	font-weight: bold;
	font-size:9pt;
	cursor: pointer;
	color: #666;
	border-radius: 4px;
}
.dialog-box .buttonList .okButton:hover,
.dialog-box .buttonList .cancelButton:hover
 {
    background: linear-gradient(#ccc,#fff, #ccc);
}
.dialog-box .buttonList .okButton:active,
.dialog-box .buttonList .cancelButton:active
{
	background: #aaa;  
	padding: 6px 10px 4px;  
}
/*==============================================================================
    ポップアップナビメニュー
*/
.navi-menubox {
    position:fixed;
    display:none;
    z-index: 101;
	font-size:10pt;
}
.navi-menubox ul>li {
    list-style-type: none;
    line-height: 30px;
    width:15em;
    margin-top:-1px;
}
/* サブメニューの幅 */
.navi-menubox ul.navi-sub li {
	width: 12em;
}
/* ラベル行は少し高さを抑える */
.navi-menubox ul.navi-sub li.label {
    line-height: 20px;
    margin-left:1px;
}
.navi-menubox li>span {
	border:1px solid gray;
    background: linear-gradient(to bottom, gray,black );
    display: block;
    color:white;
    text-align: center;
    width: 100%;
    height: 20px;
	white-space: nowrap;
	overflow: hidden;
}
.navi-menubox li ul.navi-sub {
    z-index:1;
    display:none;
    left:100%;
    position:absolute;
    margin-left:-1px;
	margin-top:-30px;
}
.navi-menubox li:hover > ul.navi-sub {
    display:flex;
}
.navi-menubox li a {
	border:1px solid gray;
    background: whitesmoke;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    cursor:pointer;
	white-space: nowrap;
	overflow: hidden;
}
.navi-menubox ul.navi-menu>li>a {
	color:black;
    background: linear-gradient(to bottom,whitesmoke, silver );
}
.navi-menubox li a:hover {
    background: yellow;
    color:black;
}
/*リストに「▼」を付ける*/
.navi-menubox li a.label:after {
    position: absolute;
    right: 0px;
    margin-top: 1rem;
    border: 6px solid transparent;
    border-left: 6px solid gray;
    content: "";
    transform: translateY(-50%);
}
.dropdown-arrow:after {
	position:relative;
	top:0.5em;
	right:7px;
	border: 5px solid transparent;
	border-top: 8px solid gray;
	content: "";
}
/*==============================================================================
    ポップアップナビメニュー
*/
.navi-checklist {
    position:fixed;
    display:none;
    z-index: 101;
	font-size:10pt;
	background-color:white;
	box-shadow: 1px 1px 2px gray;
	border:2px solid black;
	border-radius:5px;
}
.navi-checklist li {
	list-style-type: none;
}
/* checklist tabset */
.navi-checklist .tabmenu {
	display:flex;
	list-style:none;
	width:100%;
	border-radius:5px 5px 0 0;
	overflow:hidden;
}
.navi-checklist .tabmenu>li {
	width:100%;
	padding:2px 20px;
	cursor: pointer;
	color: gray;
	background-color: silver;
	white-space: nowrap;
	text-align: center;
	border-left: 1px dotted gray;
	border-right: 1px dotted gray;
}
.navi-checklist .tabmenu>li.selected {
	color: black;
	font-weight: bold;
	background-color: whitesmoke;
}
/* .navi-checklist .tabcontents {
	margin:5px 10px;
} */
.navi-checklist .tabcontents>li {
	display:none;
}
.navi-checklist .tabcontents>li.selected {
	display:block;
}
.navi-checklist .check-all {
	padding:0 10px;
	border-top:1px dashed gray;
	text-align:right;
}
.navi-checklist .col2 { column-count: 2; }
.navi-checklist .col3 { column-count: 3; }
.navi-checklist .col4 { column-count: 4; }
.navi-checklist .col5 { column-count: 5; }
.navi-checklist .col6 { column-count: 6; }
.navi-checklist .col7 { column-count: 7; }
.navi-checklist .col8 { column-count: 8; }
.navi-checklist .col9 { column-count: 9; }

.navi-checklist .check-itemset {
	padding:5px 10px;
}
.navi-checklist .check-itemset > div { bre0ak-inside: avoid; }

.navi-checklist input,
.navi-checklist select{
	vertical-align:middle;
}
