/*
===============================================================================
バルーンヘルプ表示CSS
*/
.balloon-BK,.popup-BK {
    z-index:90000;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
	height:100%;/*for old Safari*/
    height:100vh;
	cursor: default;
/* background-color: black;
opacity: 0.25; */
}
.balloon-BK:not(:target) {height:100%\9} /* IE9,10 */
/*    ポップアップ吹き出し */
.popup-balloon {
    z-index:90001;
    position:fixed;
    top:0;
    left:0;
    display:none;
    padding: 10px;
	margin:0;
    font-size:10pt;
    border: 2px solid #999;
    border-radius:12px;
    color:#333;
    background: lightyellow;
}
/*    マルチタイプポップアップ吹き出し */
.multi-balloon {
    z-index:90001;
	position: fixed;
	top:-10;
	left:-10;
	width:0;
	height:0;
}
.multi-balloon>div {
    display:none;
}
/* スイッチバルーンのコンテナスタイル */
.multi-balloon>div.container {
    display:block;
	width:0;
	height:0;
}
/* スイッチバルーン要素は非表示 */
.multi-balloon>div.container>div {
    display:none;
}
/* 上中央フキダシ部分を作成 */
.balloon-top-center { margin-top: 12px; }
.balloon-top-center:before {
    content: "";
    position: absolute;
    top:-20px;
    left:calc(50% - 8px);
    border: 8px solid transparent;
    border-bottom: 12px solid #999;
}
.balloon-top-center:after {
    content: "";
    position: absolute;
    top:-17px;
    left:calc(50% - 8px);
    border: 8px solid transparent;
    border-bottom: 12px solid lightyellow;
}
/* 左上フキダシ部分を作成 */
.balloon-top-left { margin-top: 13px; margin-left:-4px; }
.balloon-top-left:before {
    content: "";
    position: absolute;
    top:-13px;
    left:4px;
    border-top: 13px solid transparent;
    border-left: 18px solid #999;
}
.balloon-top-left:after {
    content: "";
    position: absolute;
    top:-9px;
    left:6px;
    border-top: 13px solid transparent;
    border-left: 18px solid lightyellow;
}
/* 右上フキダシ部分を作成 */
.balloon-top-right { margin-top: 13px; margin-right:-4px; }
.balloon-top-right:before {
    content: "";
    position: absolute;
    top:-13px;
    right:4px;
    border-top: 13px solid transparent;
    border-right: 18px solid #999;
}
.balloon-top-right:after {
    content: "";
    position: absolute;
    top:-9px;
    right:6px;
    border-top: 13px solid transparent;
    border-right: 18px solid lightyellow;
}
/* 下中央フキダシ部分を作成 */
.balloon-bottom-center { margin-bottom: 12px;}
.balloon-bottom-center:before {
    content: "";
    position: absolute;
    bottom:-20px;
    left:calc(50% - 8px);
    border: 8px solid transparent;
    border-top: 12px solid #999;
}
.balloon-bottom-center:after {
    content: "";
    position: absolute;
    bottom:-17px;
    left:calc(50% - 8px);
    border: 8px solid transparent;
    border-top: 12px solid lightyellow;
}
/* 左下フキダシ部分を作成 */
.balloon-bottom-left { margin-bottom: 13px; margin-left:-4px; }
.balloon-bottom-left:before {
    content: "";
    position: absolute;
    bottom:-13px;
    left:4px;
    border-bottom: 13px solid transparent;
    border-left: 18px solid #999;
}
.balloon-bottom-left:after {
    content: "";
    position: absolute;
    bottom:-9px;
    left:6px;
    border-bottom: 13px solid transparent;
    border-left: 18px solid lightyellow;
}
/* 右フキダシ部分を作成 */
.balloon-bottom-right { margin-bottom: 13px; margin-right:-4px; }
.balloon-bottom-right:before {
    content: "";
    position: absolute;
    bottom:-13px;
    right:4px;
    border-bottom: 12px solid transparent;
    border-right: 18px solid #999;
}
.balloon-bottom-right:after {
    content: "";
    position: absolute;
    bottom:-9px;
    right:6px;
    border-bottom: 13px solid transparent;
    border-right: 18px solid lightyellow;
}
/* 左フキダシ部分を作成 */
.balloon-left { margin-left: 12px;}
.balloon-left:before {
    content: "";
    position: absolute;
    top:calc(50% - 8px);
    left:-20px;
    border: 8px solid transparent;
    border-right: 12px solid #999;
}
.balloon-left:after {
    content: "";
    position: absolute;
    top:calc(50% - 8px);
    left:-17px;
    border: 8px solid transparent;
    border-right: 12px solid lightyellow;
}
/* 右フキダシ部分を作成 */
.balloon-right { margin-right: 12px;}
.balloon-right:before {
    content: "";
    position: absolute;
    top:calc(50% - 8px);
    right:-20px;
    border: 8px solid transparent;
    border-left: 12px solid #999;
}
.balloon-right:after {
    content: "";
    position: absolute;
    top:calc(50% - 8px);
    right:-17px;
    border: 8px solid transparent;
    border-left: 12px solid lightyellow;
}
/*==============================================================================
    ポップアップボックス
*/
.popup-box {
    z-index:90001;
    position:fixed;
    display:none;
    padding:10px;
    border: 1px outset silver;
    border-radius:3px;
    background: whitesmoke;
    font-size:10pt;
    color:black;
    overflow:hidden;
    min-width:100px;
    min-height:150px;
	padding-bottom: 12px;	/* for resize-icon */
}
.popup-box span.pw_resize {
    z-index:3;
    position:absolute;
    right:0;
    bottom:0;
    width:12px;
    height:12px;
    cursor:se-resize;
    background: url(res/img/resize.png) no-repeat left top;
}
.popup-box span.pw_resize_message {
    z-index:3;
    display:none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 120px;
    height: 1.5em;
    margin: auto;
    user-select:none;
    text-align: center;
    border: 1px dashed gray;
    background-color:floralwhite;
}

/* close button */
.popup-box span.close {
    z-index:3;
    position:absolute;
    top:0;
    right: 5px;
    width:23px;
    height:23px;
    cursor:pointer;
    background: url(res/img/boxclose.png) no-repeat left top;
}
.popup-box span.close:hover {
    background: url(res/img/boxclose.png) no-repeat left -23px;
}
.popup-box span.close:active {
    border-top:1px solid #333;
    border-left:1px solid #333;
    border-right:1px solid #eee;
    padding-left:1px;
    padding-top:1px;
}
.popup-box .contents {
    overflow-y:auto;
    overflow-x:hidden;
    width:100%;
    height:95%;
}
.popup-box dl dt {
    padding-left: 10px;
    font-weight: bold;
}
.popup-box dl dd {
    padding-left:20px;
    margin-bottom:5px;
}
.popup-box .custom-button {
	display:flex;
	width:95%;
	padding-top:2px;
	border-top:1px dotted silver;
    justify-content: center;
}
.popup-box .custom-button > .button {
	display: inline-block;
	width:4em;
	margin: 0 1em;
}

/* ヘルプアイコン */
.help_icon {
	display:inline-block;
    width:18px;
    height:19px;
	vertical-align: middle;
    background: url(res/img/help-icon.png) no-repeat left top;
}
.help_icon.active {
    background: url(res/img/help-icon.png) no-repeat left -19px;
}
/*==============================================================================
インフォボックス
*/
.info-box {
    z-index:90002;
    position:fixed;
    display:none;
    min-width:100px;
    min-height:20px;
    font-size:10pt;
    color:black;
    padding:10px 20px;
    border: 1px solid gray;
    border-radius:3px;
    background: #E3F1C7;
    border-radius:8px;
    box-shadow: 5px 5px silver;
    overflow:hidden;
}
/*==============================================================================
    ダイアログボックス
*/
.dialog-box {
    z-index:90002;
    position:fixed;
    display:none;
    min-width:200px;
    min-height:150px;
    font-size:10pt;
    color:black;
    border: 1px solid black;
    border-radius:3px;
    background: white;
    border-radius:4px;
    box-shadow: 5px 5px silver;
    overflow:hidden;
    user-select:none;
}
.dialog-box dl {
    width:100%;
}
.dialog-box dl dd {
    width:100%;
    padding:4px 10px;
}
/* ダイアログボックスのタイトル */
.dialog-box dl dt {
    height:25px;
    line-height:25px;
    text-indent:0.5em;
    font-weight:bold;
    padding:0 8px 4px 22px;
    color:black;
    background: url(res/img/confirm.png) no-repeat left top;
/*
    color:white;
    background-color: linear-gradient(-90deg,#ccc,#aaa,#000);
*/
}
.dialog-box .dialog-msg {
    position:relative;
    width:100%;
    height:auto;
    padding:10px 20px;
}
.dialog-box .buttonList {
    position:absolute;
    width:100%;
    height:1.2em;
    bottom:1.0em;
    text-align: center;
    padding: 15px 5px;
    margin:auto;
/*    background-color: #f1f1f1;*/
}
/* 実行ボタン */
.dialog-box .buttonList .okButton,
.dialog-box .buttonList .cancelButton
{
    margin: 0 15px;
	border: 1px solid #333;
	padding: 2px 12px;
	font-weight: bold;
	font-size:9pt;
	cursor: pointer;
	color: #666;
	border-radius: 4px;
}
.dialog-box .buttonList .okButton:hover,
.dialog-box .buttonList .cancelButton:hover
 {
    background: linear-gradient(#ccc,#fff, #ccc);
}
.dialog-box .buttonList .okButton:active,
.dialog-box .buttonList .cancelButton:active
{
	background: #aaa;  
	padding: 6px 10px 4px;  
}
/*==============================================================================
    ポップアップナビメニュー
*/
.navi-menubox {
    z-index: 90001;
    position:fixed;
    display:none;
	font-size:10pt;
}
.navi-menubox>ul {
	border: 2px solid gray;
	border-radius: 5px;
	box-shadow: 2px 4px 4px silver;
}
.navi-menubox ul>li {
    list-style-type: none;
    line-height: 30px;
    width:15em;
    margin-top:-1px;
	white-space: nowrap;
}
/* 最初の展開メニューだけずらす */
.navi-menubox>ul>li>.navi-sub {
	margin-left:-1px;
}
.navi-menubox li .navi-sub {
    z-index:1;
    display:none;
    left:100%;
    position:absolute;
    margin-top:-31px;	/* line-height分上に移動 */
}
.navi-menubox li:hover > .navi-sub {
    display:flex;
}
/* サブメニューの枠線を隣に重ねる */
.navi-menubox .navi-sub ul {
	margin-left: -1px;
}
/* サブメニューの幅 */
.navi-menubox .navi-sub li {
	width: 12em;
}
/* ラベル行は少し高さを抑える */
.navi-menubox .navi-sub li.label {
    line-height: 20px;
}
.navi-menubox li>span {
	border:1px solid gray;
    background: linear-gradient(to bottom, gray,black );
    display: block;
    color:white;
    text-align: center;
    width: 100%;
    height: 20px;
	white-space: nowrap;
	overflow: hidden;
}
.navi-menubox li> a {
	border:1px solid gray;
    background: whitesmoke;
    display: block;
    text-align: center;
    text-decoration: none;
    cursor:pointer;
	white-space: nowrap;
	overflow: hidden;
}
.navi-menubox li>a:hover {
    background: yellow;
    color:black;
}
/* リストに「▶」を付ける*/
.navi-menubox li>a.label:after {
    position: absolute;
    right: 0px;
    margin-top: 1rem;
    border: 6px solid transparent;
    border-left: 6px solid gray;
    content: "";
    transform: translateY(-50%);
}
/*==============================================================================
    ポップアップナビメニュー
*/
.navi-checklist {
    z-index: 90001;
    position:fixed;
    display:none;
	font-size:10pt;
	background-color:white;
	box-shadow: 2px 2px 4px gray;
	border:2px solid black;
	border-radius:5px;
	background-color: #f5fbfe;
}
/* メッセージタグ */
.navi-checklist>p {
	margin:5px 10px;
}
.navi-checklist li {
	list-style-type: none;
	white-space: nowrap;
}
/* checklist tabset */
.navi-checklist .tabmenu {
	display:flex;
	list-style:none;
	width:100%;
	border-radius:5px 5px 0 0;
	overflow:hidden;
}
.navi-checklist .tabmenu>li {
	width:100%;
	padding:2px 20px;
	cursor: pointer;
	color: gray;
	background-color: silver;
	white-space: nowrap;
	text-align: center;
	border-left: 1px dotted gray;
	border-right: 1px dotted gray;
}
.navi-checklist .tabmenu>li.selected {
	color: black;
	font-weight: bold;
	background-color: whitesmoke;
}
.navi-checklist .tabcontents>li {
	display:none;
}
.navi-checklist .tabcontents>li.selected {
	display:block;
}
.navi-checklist .check-all {
	padding:5px 10px;
	border-top:1px dashed gray;
	text-align:right;
}
/* 段組みは flex を使って独自に行う */
.navi-checklist .check-itemset {
	display: flex;
}
.navi-checklist .check-itemset > div {
	margin: 5px 10px;
}
.navi-checklist .check-itemset > p {
	margin: 5px 10px;
	white-space: nowrap;
}
.navi-checklist .v-splitter {
	width:1px;
	border-left: 1px dotted silver;
	height: calc(100% - 10);
	margin: 5px 0;
}
/* (X)と▼付きのドロップダウンメニューのコンテナ */
.dropdown-menu {
	display:inline-flex;
	color: silver;
	background-color: #e9f4fb;
	white-space: nowrap;
	align-items: center;
    vertical-align: middle;
	border: 1px solid skyblue;
	padding:0;
	font-size:10pt;
}
/* 他要素内にターゲットがあるときのメニュータイトル */
.dropdown-menu.normal{
	width: 100%;
	color: inherit;
	background-color: inherit;
	border: none;
}
/* リストに「▼」を付ける */
.dropdown-menu>span.arrow {
	position:relative;
	display: inline-block;
	right:0;
	width: 0;
	height: 0;
	margin-top: 4px;
	cursor: pointer;
	border: 6px solid transparent;
	border-top: 13px solid #aaa;
	border-bottom:none;
}
/* シルバー背景でも見えるようにする */
.dropdown-menu.normal>span.arrow {
	border-top-color: #888;
}
.dropdown-menu>span.arrow:hover {
	border-top-color: #333;
}
/* リストに「X」を付ける */
.dropdown-menu>span.clear {
	position:relative;
	display: inline-block;
	right:0;
    cursor: pointer;
	width:19px;
	height:15px;
	background: url(res/img/clear_btn.png) no-repeat left top;
	border-right: 1px dotted gray;
}
.dropdown-menu>span.clear:hover {
	background: url(res/img/clear_btn.png) no-repeat left -15px;
}
/* IEの [X] アイコンを消す */
.dropdown-menu>input::-ms-clear { visibility:hidden; }
/* テキストとチェックボックスの位置揃え */
.dropdown-menu>textarea,
.dropdown-menu>input {
	margin:0;
	padding: 0 5px;
	width:100%;
	background-color: #e9f4fb;
	border: none;
	vertical-align:middle;
}
.dropdown-menu>textarea {height:100%;}
.dropdown-menu>input {height:1.5em;}
/* タイトル用 */
.dropdown-menu>div{
	padding: 0 5px;
	width:100%;
	height:100%;
	border: none;
	vertical-align:middle;
}
