/*	padding: 0px 10px;	/* [上下左右] [上下][左右} [上][左右][下] [上][右][下][左] */
/* タブ表示用 */
.tabControll {
    width:100%;
    padding:0;
/*
    background-color:whitesmoke;
    border-bottom: 1px dotted gray;
    border-right: 1px dotted red;
*/
}
.tabControll>.tabPanel {
    width:100%;
    height:1.6em;
    border-bottom:1px solid gray;
    background-color:white;
}
.tabControll>.tabPanel >ul.tabmenu {
    float:left;
	list-style:none;
    background-color:white;
}
.tabControll>.tabPanel>ul.tabmenu:after {
    clear:both;
}
.tabControll>.tabPanel>ul.tabmenu>li {
    float:left;
    height:1.5em;
	padding: 0 20px; 
    cursor:pointer;
    font-size: 10pt;
    background-color:silver;
    border-radius:4px 4px 0 0;
    border:1px solid black;
}
.tabControll>.tabPanel>ul.tabmenu>li:hover {
    background:gray;
    color:white;
}
.tabControll>.tabPanel>ul.tabmenu>li.selected {
    font-style: bold;
    background-color:navy;
    color:white;
}
/* タブコンテンツ */
.tabControll>ul.tabcontents {
    clear:both;
    padding:10px;
	list-style:none;
    border: 1px dotted gray;
}

.tabControll>ul.tabcontents>li{padding:0;}
.tabControll>ul.tabcontents>.hide {display:none;}

