@charset "UTF-8";

.activity {
    color:white;
    font-weight: bold;
    background-color: #a64;
    margin-bottom: 1em;
}

.respons {
    color:white;
    font-weight: bold;
    background-color: #64a;
    margin-bottom: 1em;
}

.marginbox {
    margin-left: 50px;
    padding: 5px;
    border: 1px solid black;
    width:800px;
}

table {
    border-collapse: collapse;
    border: 0;
}

table.tr {
}

table.inbox {
    border: solid 1px black;
}
table.inbox td {
    border: solid 1px black;
    padding: 2px 10px 2px 5px;
}

#slideL {
    z-index: 999;
    float:left;
    position:fixed;
    width: 1.4em;
    height: 28px;
    background: #aaa;
    color: white;
    overflow: hidden;
    border-bottom-left-radius: 4px;
    box-shadow: 1px 1px 2px black;
}
#slideL table {
    float:left;
    position:relative;
    top:0;
    width:100%;
    border-collapse: collapse;
    box-shadow: 1px 1px 2px black;
}
#slideL td {
    border: none;
    background: none;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    vertical-align: center;
    font-size: 9pt;
    padding-right: 8px;
}
#slideL table.tab td {
    border:1px solid gray;
    font-size: 12pt;
}
#slideL table.tab td:hover {
    background-color: gray;
}
#slideL table.tab td.select {
    color:white;
    background-color: black;
}

#slideLB {
    float: left;
    position: absolute;
    cursor: pointer;
}
