/*	ダイアログ内のテーブル表示　*/
/* [上下左右] [上下][左右} [上][左右][下] [上][右][下][左] */
table.form {
    border: 0;
    border-collapse: separate;
    border-spacing: 5px;
}
table.form th {
    vertical-align:top;
}
table.form .boldtxt {
    font-weight:bold;
    text-decoration: none;
}

/*
table.form th,td {
    border: solid 1px black;
}
*/