/*	padding: 0px 10px;	/* [上下左右] [上下][左右} [上][左右][下] [上][右][下][左] */

/* タブ表示用 */
.tabmenu {
    z-index: 1;
    width:100%;
    height:2em;
    font-size:9pt;
    height: 1.8em;
    background-color:whitesmoke;
    border-bottom: 1px dotted gray;
    border-right: 1px dotted red;
}
.tabmenu ul.tab {
    float:left;
	list-style:none;
    background-color:white;
}
.tabmenu ul.tab li {
    float:left;
    height:1.5em;
	padding: 0 20px; 
    cursor:pointer;
    font-size: 10pt;
    background-color:silver;
    border-radius:4px 4px 0 0;
    border:1px solid black;
}
.tabmenu ul.tab li:hover {
    background:gray;
    color:white;
}
.tabmenu ul.tab li.selected {
    font-style: bold;
    background-color:navy;
    color:white;
}

/* タブコンテンツ */
.content-panel {
    float:left;
    width: 100%;
    height:100%;
    margin-top:2em;
    user-select:text;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}
/*
.content-panel ul.content {
	list-style:none;
}
*/
.content-panel ul.content {
	list-style:none;
    clear:both;
    float:left;
    width: 96%;
    height:100%;
    padding-left:20px;
    padding-bottom:10px;
}
.content-panel ul.content:after {
    clear:both;
}
.content-panel ul.content li.tabset {
    width:100%;
    height:100%;
    padding:0;
}
.content-panel .hide {display:none;}
.content-panel .content li#blueback {background:#eef;}
.content-panel .content li#grayback {background:#eee;}

#datalist {
    top:0;
    width:100%;
    height:100%;
}